# Pipeline for building and deploying a Dockerized Next.js app to Azure App Service

trigger:
- main

variables:
  # --- Configuraci贸n de Docker y Azure ---
  dockerRegistryServiceConnection: 'ACRConnection'
  imageRepository: 'frontsoftwareseguro' # Nombre de la imagen en el registro
  containerRegistry: 'softwareseguro.azurecr.io' # Servidor de tu ACR
  dockerfilePath: '$(Build.SourcesDirectory)/Dockerfile'
  tag: '$(Build.BuildId)'

  # --- Configuraci贸n de la App de Azure ---
  azureSubscription: '5c9d109b-9f54-4fab-94e6-36ea3326c6ca' # Tu suscripci贸n de Azure
  webAppName: 'softwareseguro' # Nombre de tu App Service

  # --- Configuraci贸n del Agente del Pipeline ---
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: 'Build and Push Docker Image'
  jobs:
  - job: Build
    displayName: 'Build and Push'
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: 'Build and push image to ACR'
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)

- stage: Deploy
  displayName: 'Deploy to App Service'
  dependsOn: Build
  condition: succeeded()
  jobs:
  - deployment: Deploy
    displayName: 'Deploy App Service'
    pool:
      vmImage: $(vmImageName)
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: AzureWebAppContainer@1
            displayName: 'Deploy to Azure App Service'
            inputs:
              azureSubscription: $(azureSubscription)
              appName: $(webAppName)
              containerRegistry: $(containerRegistry)
              repository: $(imageRepository)
              tag: $(tag)
